<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 约束：来自标准/自定义 -->
    <add key="constraint" value=""/>
    <!-- 喷头间距 -->    
    <add key="sparySpacing" value=""/>
    <!-- 距离墙/柱距离 -->
    <add key="otherSpacing" value=""/>
    <!-- 危险等级 -->
    <add key="hazardLevel" value=""/>
    <!-- 喷头范围 -->
    <add key="range" value=""/>
    <!-- 喷头类型 -->
    <add key="nozzleType" value=""/>
    <!-- 保护策略 -->
    <add key="protectStrategy" value=""/>
    <!-- 保护半径 -->
    <add key="protectRadius" value=""/>
    <add key="hasBeam" value=""/>
    <add key="beamHeight" value=""/>
    <add key="plateThick" value=""/>
    <add key="layoutType" value=""/>
  </appSettings>
</configuration>
