<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_DevExpress">
      <?define OutputPath_R18_Release="bin\Release" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Utils" Guid="{97D25999-2650-4687-A057-459B0D7076EB}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Utils" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Utils.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Data" Guid="{71F05D62-6786-4CDE-A23C-B0A558F6FD0F}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Data" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Data.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Printing" Guid="{CCF40A98-A533-441C-A030-1997476F4513}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Printing" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Printing.$(var.DevExpressVersionSuffix).Core.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Pdf" Guid="{FB27413E-2D83-4745-89D0-3F262408A397}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Pdf" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Pdf.$(var.DevExpressVersionSuffix).Core.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraEditors" Guid="{CDE952F7-1AD5-420F-867F-45266E3C3D06}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_XtraEditors" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.XtraEditors.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Sparkline" Guid="{79A92A57-4568-4D0B-A25A-A862C2F3F6E8}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Sparkline" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Sparkline.$(var.DevExpressVersionSuffix).Core.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraGrid" Guid="{28C0E71D-0320-406F-9B58-584D32CE1211}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_XtraGrid" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.XtraGrid.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraLayout" Guid="{0D556B3E-E402-4CDD-95EF-BA3A3CD4B0F5}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_XtraLayout" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.XtraLayout.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraPrinting" Guid="{9B77CDCC-B411-4896-AEBA-25218C78C3BE}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_XtraPrinting" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.XtraPrinting.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraBars" Guid="{F3B75CB7-153B-403E-8F5B-8FCFE977355A}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_XtraBars" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.XtraBars.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_RichEdit" Guid="{0C162216-348F-4891-8A5F-053EFC18B052}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_RichEdit" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.RichEdit.$(var.DevExpressVersionSuffix).Core.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Office" Guid="{7654B540-E8D4-43B2-960E-53849E436E10}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Office" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Office.$(var.DevExpressVersionSuffix).Core.dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Images" Guid="{BEE799F5-CFA2-4E3B-B5D3-32CFB1B0DFAE}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_Images" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.Images.$(var.DevExpressVersionSuffix).dll" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraTreeList" Guid="{1ED8FFA7-FC79-4623-A6F9-26E640401330}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_DevExpress_XtraTreeList" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\DevExpress.XtraTreeList.$(var.DevExpressVersionSuffix).dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsDevExpress">
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Utils" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Data" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Printing" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Pdf" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraEditors" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Sparkline" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraGrid" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraLayout" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraPrinting" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraBars" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_RichEdit" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Office" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_Images" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_DevExpress_XtraTreeList" />
    </ComponentGroup>
  </Fragment>
</Wix>
