<?xml version="1.0" encoding="utf-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Variable.wxi ?>
    <Fragment>
        <DirectoryRef Id="DIR_Autoloader_Contents">
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Make_Layer" Guid="{A7FCD3FC-1D64-481F-B7F8-956E31E27A3E}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Make_Layer" Source="$(var.AutoloaderContentsPath)\MakeLayer.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Read_CSV" Guid="{0CA8A3E6-002E-4ABD-9F8C-C560F553DE46}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Read_CSV" Source="$(var.AutoloaderContentsPath)\ReadCSV.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Layer" Guid="{CABE4A56-79F2-480A-948F-F3ACD8E42224}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Layer" Source="$(var.AutoloaderContentsPath)\General-Layer.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Load_Linetypes" Guid="{25F63906-4B48-41B3-8590-7456CF7350CF}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Load_Linetypes" Source="$(var.AutoloaderContentsPath)\LoadLinetypes.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_ListUtil" Guid="{BF8C77D8-4950-4136-B9B3-54EF1BCB9C8E}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_ListUtil" Source="$(var.AutoloaderContentsPath)\ListUtil.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Make_Layer_Group" Guid="{DA23A955-ACA0-41FB-A1D2-3E40B720F46F}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Make_Layer_Group" Source="$(var.AutoloaderContentsPath)\MakeLayerGroup.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_General_Auxiliary" Guid="{1BE1791A-4DB9-4DD0-9698-0F4EB829FC3F}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_General_Auxiliary" Source="$(var.AutoloaderContentsPath)\General-Auxiliary.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_General_Annotation" Guid="{89D81114-C0D5-44AD-99F9-38DB3FE3F5E7}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_General_Annotation" Source="$(var.AutoloaderContentsPath)\General-Annotation.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Steal" Guid="{D9FA7C92-26CE-431C-99C8-9E68312872B6}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Steal" Source="$(var.AutoloaderContentsPath)\Steal.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_Flatten" Guid="{A159EF46-1708-4E52-A928-C0DE0152861B}" Win64="yes">
                <File Id="FILE_Autoloader_PackageContents_Lisp_Flatten" Source="$(var.AutoloaderContentsPath)\FLATTEN.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_BatchPlot_PDF" Guid="{DA91E9C8-E671-4217-BAE2-4F019278D032}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_BatchPlot_PDF" Source="$(var.AutoloaderContentsPath)\BatchPlotPDF.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_BatchPlot_DWF" Guid="{87331E31-D022-4883-BDB2-0B20C1B8A040}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_BatchPlot_DWF" Source="$(var.AutoloaderContentsPath)\BatchPlotDWF.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_BatchPlot_Utils" Guid="{1A0D2761-D3A2-4620-8F1F-2E986FD1D8B1}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_BatchPlot_Utils" Source="$(var.AutoloaderContentsPath)\BatchPlotUtils.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_VersionModify" Guid="{40D25D80-E266-463B-8B44-FBC5D030DFE6}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_VersionModify" Source="$(var.AutoloaderContentsPath)\VersionModify.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_BreakObjectsUtils" Guid="{19284775-0A23-45E7-A89A-5096366E33E9}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_BreakObjectsUtils" Source="$(var.AutoloaderContentsPath)\BreakObjects.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_BreakLines" Guid="{818138D7-C459-4814-9286-F9ECA76279D5}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_BreakLines" Source="$(var.AutoloaderContentsPath)\BreakLines.lsp" KeyPath="yes" />
            </Component>
            <Component Id="CMP_Autoloader_PackageContents_Lisp_AutoBlockBreak" Guid="{53F579F6-E9FA-4BDA-9E2A-50AA79DABD4E}" Win64="yes">
              <File Id="FILE_Autoloader_PackageContents_Lisp_AutoBlockBreak" Source="$(var.AutoloaderContentsPath)\AutoBlockBreak.lsp" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsLisp">
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Make_Layer" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Read_CSV" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Layer" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Load_Linetypes" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_ListUtil" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Make_Layer_Group" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_General_Auxiliary" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_General_Annotation" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Steal" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_Flatten" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_BatchPlot_PDF" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_BatchPlot_DWF" /> 
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_BatchPlot_Utils" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_VersionModify" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_BreakObjectsUtils" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_BreakLines" />
            <ComponentRef Id="CMP_Autoloader_PackageContents_Lisp_AutoBlockBreak" />
        </ComponentGroup>
    </Fragment>
</Wix>
