<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18_Native">
      <?define OutputPath_R18_Debug="bin\Debug" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R18_x64_Pdfium_Debug" Guid="{C7A9493F-1FD1-4D01-B30E-AB4658892D49}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R18_x64_Pdfium_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Debug)\$(var.64bitNative)\pdfium.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19_Native">
      <?define OutputPath_R19_Debug="bin\Debug-NET40" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R19_x64_Pdfium_Debug" Guid="{8965C4DD-756C-4CC6-AF9F-BB0DAF7D8924}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R19_x64_Pdfium_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Debug)\$(var.64bitNative)\pdfium.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20_Native">
      <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_x64_Pdfium_Debug" Guid="{47ED8F48-0221-4A53-B71B-041DD84B494D}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_x64_Pdfium_Debug" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Debug)\$(var.64bitNative)\pdfium.dll" />
      </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18_Native">
      <?define OutputPath_R18_Release="bin\Release" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R18_x64_Pdfium_Release" Guid="{2B306919-BDF0-4745-B7C9-5F9E5A9E96F9}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R18_x64_Pdfium_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R18_Release)\$(var.64bitNative)\pdfium.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19_Native">
      <?define OutputPath_R19_Release="bin\Release-NET40" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R19_x64_Pdfium_Release" Guid="{4C5F51DC-8B80-460F-89E9-376D03366D1E}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R19_x64_Pdfium_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R19_Release)\$(var.64bitNative)\pdfium.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20_Native">
      <?define OutputPath_R20_Release="bin\Release-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_x64_Pdfium_Release" Guid="{33F61C27-7063-4D7C-9396-24BAFCAC2DD0}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_x64_Pdfium_Release" KeyPath="yes" Source="$(var.OutputRootPath)\$(var.OutputPath_R20_Release)\$(var.64bitNative)\pdfium.dll" />
      </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsAppNative64">
      <?if $(var.Configuration) = Debug ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_x64_Pdfium_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_x64_Pdfium_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_x64_Pdfium_Debug" />
      <?elseif $(var.Configuration) = Release ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_x64_Pdfium_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_x64_Pdfium_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_x64_Pdfium_Release" />
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>
