<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <Binary Id="CommandPrompt" SourceFile="C:\Windows\System32\cmd.exe" />
    <CustomAction Id="DeleteRoamingSupportFilesR191"
                  BinaryKey="CommandPrompt"
                  ExeCommand='cmd.exe /c del "[AppDataFolder]Autodesk\AutoCAD 2014\R19.1\chs\Support\ThCAD*.*"'
                  Execute="immediate"
                  Return="ignore" />
    <CustomAction Id="DeleteRoamingSupportFilesR201"
                  BinaryKey="CommandPrompt"
                  ExeCommand='cmd.exe /c del "[AppDataFolder]Autodesk\AutoCAD 2016\R20.1\chs\Support\ThCAD*.*"'
                  Execute="immediate"
                  Return="ignore" />
    <CustomAction Id="DeleteRoamingSupportFilesR220"
                  BinaryKey="CommandPrompt"
                  ExeCommand='cmd.exe /c del "[AppDataFolder]Autodesk\AutoCAD 2018\R22.0\chs\Support\ThCAD*.*"'
                  Execute="immediate"
                  Return="ignore" />
  </Fragment>
</Wix>