<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variable.wxi ?>
  <Fragment>
    <?if $(var.Configuration) = Debug ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18">
      <?define OutputPath_R18_Debug="bin\Debug" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_ARX_Debug" Guid="{2883E82B-5E18-4C39-B0C9-3601851FC2A8}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R18_SuperBoundary_ARX_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary18X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_CFG_Debug" Guid="{7443AB34-3FE3-47C3-99E8-7A48C7C86B5A}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R18_SuperBoundary_CFG_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
      <?define OutputPath_R19_Debug="bin\Debug-NET40" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_ARX_Debug" Guid="{F11B477A-A67A-4AC5-B391-F78F22F5DE59}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R19_SuperBoundary_ARX_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary19X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_CFG_Debug" Guid="{89C6F92D-8402-4D28-8E67-25BF1DA36E14}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R19_SuperBoundary_CFG_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Debug="bin\Debug-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_ARX_Debug" Guid="{783E8751-E150-4985-83F3-D13273B99AB6}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_SuperBoundary_ARX_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary20X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_CFG_Debug" Guid="{062A24F4-5C6D-4F49-A933-1A5343FF030D}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_SuperBoundary_CFG_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Debug="bin\Debug-NET46" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_ARX_Debug" Guid="{7ADEA5FD-96A7-4F13-9E44-548A61E80FBC}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_SuperBoundary_ARX_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary22X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_CFG_Debug" Guid="{36385B77-3870-4316-8859-3253FBA3D315}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_SuperBoundary_CFG_Debug" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <?elseif $(var.Configuration) = Release ?>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R18">
      <?define OutputPath_R18_Release="bin\Release" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_ARX_Release" Guid="{D9A75AE9-D051-43EC-B121-4C13DDBD3186}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R18_SuperBoundary_ARX_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary18X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_CFG_Release" Guid="{A34ECDEF-19E6-42F0-962F-C2801A552AA1}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R18_SuperBoundary_CFG_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R19">
      <?define OutputPath_R19_Release="bin\Release-NET40" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_ARX_Release" Guid="{7EFC984D-5EAB-437F-8799-EECB5131490B}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R19_SuperBoundary_ARX_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary19X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_CFG_Release" Guid="{C7E266D4-F27D-4BDA-AE4F-804C59532CBD}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R19_SuperBoundary_CFG_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R20">
      <?define OutputPath_R20_Release="bin\Release-NET45" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_ARX_Release" Guid="{798FBE92-0706-4102-831F-20C286FA237D}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_SuperBoundary_ARX_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary20X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_CFG_Release" Guid="{DAC2296A-1C99-491D-BAA4-67466AC8B9B3}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R20_SuperBoundary_CFG_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_Autoloader_Contents_App_Win64_R22">
      <?define OutputPath_R22_Release="bin\Release-NET46" ?>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_ARX_Release" Guid="{3C1D03CF-FD5E-4A6E-805E-7F64AAC0E2E7}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_SuperBoundary_ARX_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary22X64.arx" />
      </Component>
      <Component Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_CFG_Release" Guid="{592C6C56-5F98-4529-961B-046BB5A97DB5}" Win64="yes">
        <File Id="FILE_Autoloader_Contents_App_Win64_R22_SuperBoundary_CFG_Release" KeyPath="yes" Source="$(var.SuperBoundaryPath)\SuperBoundary.cfg" />
      </Component>
    </DirectoryRef>
    <?endif?>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponentsAppSuperBoundary">
      <?if $(var.Configuration) = Debug ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_ARX_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_CFG_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_ARX_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_CFG_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_ARX_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_CFG_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_ARX_Debug" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_CFG_Debug" />
      <?elseif $(var.Configuration) = Release ?>
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_ARX_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R18_SuperBoundary_CFG_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_ARX_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R19_SuperBoundary_CFG_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_ARX_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R20_SuperBoundary_CFG_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_ARX_Release" />
      <ComponentRef Id="CMP_Autoloader_Contents_App_Win64_R22_SuperBoundary_CFG_Release" />
      <?endif?>
    </ComponentGroup>
  </Fragment>
</Wix>