<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThSitePlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ThSitePlan.Properties.Settings>
            <setting name="plotDeviceName" serializeAs="String">
                <value>DWG To PDF.pc3</value>
            </setting>
            <setting name="mediaName" serializeAs="String">
                <value>ISO_full_bleed_A2_(420.00_x_594.00_MM)</value>
            </setting>
            <setting name="styleSheetName" serializeAs="String">
                <value>monochrome.ctb</value>
            </setting>
            <setting name="shadowLengthScale" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="shadowAngle" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PlantRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlantDensity" serializeAs="String">
                <value>0.8</value>
            </setting>
        </ThSitePlan.Properties.Settings>
    </applicationSettings>
</configuration>