<?xml version="1.0" encoding="utf-8"?>
<layoutSettings>
  <tab1>
    <constraint value="">
      <constraintType>custom</constraintType>
      <standard>
        <sparySpacing>,</sparySpacing>
        <otherSpacing>,</otherSpacing>
      </standard>
      <custom>
        <hazardLevel>0</hazardLevel>
        <range>standRange</range>
      </custom>
    </constraint>
    <nozzleType>upSpary</nozzleType>
    <protectStrategy>rectanglePro</protectStrategy>
    <protectRadius></protectRadius>
    <hasBeam>
      <considerBeam>0</considerBeam>
      <beamHeight></beamHeight>
      <plateThick></plateThick>
    </hasBeam>
    <layoutType>customPart</layoutType>
  </tab1>
  <tab2>
    <constraint value="">
      <constraintType>custom</constraintType>
      <standard>
        <sparySpacing>,</sparySpacing>
        <otherSpacing>,</otherSpacing>
      </standard>
      <custom>
        <hazardLevel>0</hazardLevel>
        <range>standRange</range>
      </custom>
    </constraint>
    <nozzleType>upSpary</nozzleType>
    <protectStrategy>rectanglePro</protectStrategy>
    <protectRadius></protectRadius>
    <hasBeam>
      <considerBeam>0</considerBeam>
      <beamHeight></beamHeight>
      <plateThick></plateThick>
    </hasBeam>
    <layoutType>frame</layoutType>
  </tab2>
  <tab3>
    <constraint value="">
      <constraintType>custom</constraintType>
      <standard>
        <sparySpacing>,</sparySpacing>
        <otherSpacing>,</otherSpacing>
      </standard>
      <custom>
        <hazardLevel>0</hazardLevel>
        <range>standRange</range>
      </custom>
    </constraint>
    <nozzleType>upSpary</nozzleType>
    <protectStrategy>rectanglePro</protectStrategy>
    <protectRadius></protectRadius>
    <hasBeam>
      <considerBeam>1</considerBeam>
      <beamHeight>460</beamHeight>
      <plateThick>230</plateThick>
    </hasBeam>
    <layoutType>frame</layoutType>
  </tab3>
  <tab4>
    <constraint value="">
      <constraintType>custom</constraintType>
      <standard>
        <sparySpacing>,</sparySpacing>
        <otherSpacing>,</otherSpacing>
      </standard>
      <custom>
        <hazardLevel>0</hazardLevel>
        <range>standRange</range>
      </custom>
    </constraint>
    <nozzleType>upSpary</nozzleType>
    <protectStrategy>rectanglePro</protectStrategy>
    <protectRadius></protectRadius>
    <hasBeam>
      <considerBeam>0</considerBeam>
      <beamHeight></beamHeight>
      <plateThick></plateThick>
    </hasBeam>
    <layoutType>customPart</layoutType>
  </tab4>
</layoutSettings>